<footer>
    <div class="footer bottom_cross1" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Dirección : Sucursales
                            en
                            <br> Coahuila, Jalisco y CDMX
                        </li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>Teléfono : +(52) 2381699563
                        </li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>Correo electronico :
                            PCGEAR@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="map">
                        <figure><img src="../images/mapa.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© Todos los derechos reservados. desarrollado por PCGEAR</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>